  *{
        margin:0;
        padding:0;
        font-family: monospace;
    }
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
   
        background-color: rgb(209, 204, 204);
    }
    .container{
        border-radius: 15px;
        width:40rem;
        display: flex;
        flex-direction: column;
        gap:2rem;
        padding:2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(69, 77, 69);
        box-shadow:10px 10px  10px rgb(141, 137, 137);
        overflow: hidden;
        margin-top:5rem;
    }
    h1{
margin-top: -2rem;
background-color: rgb(236, 228, 228);
width:115%;
height: 3.5rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    #date{
        width: 15rem;
        height:2.5rem;
        border-radius:5px;
        font-size:20px;
        border:1px solid rgb(218, 211, 210);
        cursor:text;
      
    }
    .vibrate{
  animation:vibrate 0.2s linear 1;
        border:1px solid rgba(255, 0, 0, 0.904);
    }
    @keyframes vibrate {
        10%{
            margin:0px;
        }
        20%{
             margin-left:20px;
        }
        30%{
             margin-left:0px;
        }
        40%{
             margin-right:20px;
        }
        50%{

                margin-right:0px;
        }
        
    }
    p{
        font-size: 20px;
        width:30rem;
        height:3rem;

    }
    #age_calc{
        width:7rem;
        height:2.75rem;
        border-radius:12px;
        background-color: black;
        color:white;
        font-size: 14px;
        cursor: pointer;
        transition: 0.2s;

    }
    #age_calc:hover{
        transform: scale(1.01);
    }
    @media(max-width:600px){
        .container{
            width:18rem;
           
        }
    }